<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koke.mapper.dict.DictItemMapper">

    <resultMap id="DictItemResultMap" type="com.koke.model.entity.sys.dict.DictItem">
        <result property="dictItemId" column="dict_item_id"/>
        <result property="dictId" column="dict_id"/>
        <result property="dictLabel" column="dict_label"/>
        <result property="dictValue" column="dict_value"/>
        <result property="remark" column="remark"/>
        <result property="sort" column="sort"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="SelectDictItem">
        SELECT
        *
        FROM
        sys_dict_item
    </sql>

    <select id="selectDictItems" resultMap="DictItemResultMap">
        <include refid="SelectDictItem"/>
        <where>
            <if test="dictId != null and dictId != ''">
                AND dict_id = #{dictId}
            </if>
        </where>
    </select>

    <select id="selectDictItemById" resultMap="DictItemResultMap">
        <include refid="SelectDictItem"/>
        WHERE dict_item_id = #{dictItemId}
    </select>

    <select id="selectCountByDictId" resultType="int">
        SELECT COUNT(*) FROM sys_dict_item WHERE dict_id = #{dictId}
    </select>

    <select id="selectDictItemsByDictId" resultMap="DictItemResultMap">
        <include refid="SelectDictItem"/>
        WHERE dict_id = #{dictId}
    </select>

    <insert id="createDictItem">
        INSERT INTO sys_dict_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dictId != null and dictId != ''">dict_id,</if>
            <if test="dictLabel != null and dictLabel != ''">dict_label,</if>
            <if test="dictValue != null and dictValue != ''">dict_value,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="sort != null and sort != ''">sort,</if>
            create_time,
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dictId != null and dictId != ''">#{dictId},</if>
            <if test="dictLabel != null and dictLabel != ''">#{dictLabel},</if>
            <if test="dictValue != null and dictValue != ''">#{dictValue},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="sort != null and sort != ''">#{sort},</if>
            SYSDATE(),
        </trim>
    </insert>

    <update id="updateDictItem">
        UPDATE sys_dict_item
        <set>
            <trim suffixOverrides=",">
                <if test="dictId != null and dictId != ''">dict_id = #{dictId},</if>
                <if test="dictLabel != null and dictLabel != ''">dict_label = #{dictLabel},</if>
                <if test="dictValue != null and dictValue != ''">dict_value = #{dictValue},</if>
                <if test="remark != null and remark != ''">remark = #{remark},</if>
                <if test="sort != null and sort != ''">sort = #{sort},</if>
                update_time = SYSDATE(),
            </trim>
        </set>
        WHERE dict_item_id = #{dictItemId}
    </update>

    <delete id="deleteDictItemsByIds">
        DELETE FROM sys_dict_item WHERE dict_item_id IN
        <foreach collection="dictItemIds" item="dictItemId" separator="," open="(" close=")">
            #{dictItemId}
        </foreach>
    </delete>

</mapper>