<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koke.mapper.MenuMapper">

    <resultMap id="MenuResultMap" type="com.koke.model.entity.Menu">
        <result property="menuId" column="menu_id"/>
        <result property="menuName" column="menu_name"/>
        <result property="parentId" column="parent_id"/>
        <result property="url" column="url"/>
        <result property="permission" column="permission"/>
        <result property="type" column="type"/>
        <result property="sort" column="sort"/>
        <result property="icon" column="icon"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="selectMenus" resultMap="MenuResultMap">
        SELECT
        *
        FROM
        menu
        WHERE del_flag = '0'
    </select>

    <select id="selectMenusByUserId" resultMap="MenuResultMap">
        SELECT DISTINCT
            m.menu_id,
            m.menu_name,
            m.parent_id,
            m.url,
            m.permission,
            m.type,
            m.sort,
            m.icon,
            m.del_flag,
            m.create_time,
            m.update_time
        FROM
            menu m
            LEFT JOIN role_menu rm ON m.menu_id = rm.menu_id
            LEFT JOIN role r ON rm.role_id = r.role_id
            LEFT JOIN user_role ur ON r.role_id = ur.role_id
            LEFT JOIN user u ON ur.user_id = u.user_id
        WHERE
            u.user_id = #{userId}
            AND m.del_flag = '0'
    </select>

    <select id="selectMenuById" resultMap="MenuResultMap">
        SELECT
        *
        FROM
        menu
        WHERE
        menu_id = #{menuId}
    </select>

    <insert id="createMenu">
        INSERT INTO menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="menuName != null and menuName != ''">menu_name,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="url != null and url != ''">url,</if>
            <if test="permission != null and permission != ''">permission,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="sort != null and sort != ''">sort,</if>
            <if test="icon != null and icon != ''">icon,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
            create_time,
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="menuName != null and menuName != ''">#{menuName},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="url != null and url != ''">#{url},</if>
            <if test="permission != null and permission != ''">#{permission},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="sort != null and sort != ''">#{sort},</if>
            <if test="icon != null and icon != ''">#{icon},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
            SYSDATE(),
        </trim>
    </insert>

    <update id="updateMenu">
        UPDATE menu
        <set>
            <trim suffixOverrides=",">
                <if test="menuName != null and menuName != ''">menu_name = #{menuName},</if>
                <if test="parentId != null">parent_id = #{parentId},</if>
                <if test="url != null and url != ''">url = #{url},</if>
                <if test="permission != null and permission != ''">permission = #{permission},</if>
                <if test="type != null and type != ''">type = #{type},</if>
                <if test="sort != null and sort != ''">sort = #{sort},</if>
                <if test="icon != null and icon != ''">icon = #{icon},</if>
                <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
                update_time = SYSDATE(),
            </trim>
        </set>
        WHERE menu_id = #{menuId}
    </update>

    <delete id="deleteMenuById">
        UPDATE menu SET del_flag = '1' WHERE menu_id = #{menuId}
    </delete>

</mapper>